@import 'variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding: 33px 35px;
  height: 100vh;
}

a {
  color: $white;
  text-decoration: none;
}

.block {
  display: block;
}
.flex {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.uppercase {
  text-transform: uppercase;
}
.mt-8 {
  margin-top: 28px;
}
.mt-20 {
  margin-top: 34px;
}
.pa-4 {
  padding: 12px;
}
.border-radius-full {
  border-radius: 30px;
}
.button {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 3px 6px -2px rgba(0,0,0, 0.50);
        -moz-box-shadow: 0 3px 6px -2px rgba(0,0,0, 0.50);
        box-shadow: 0 3px 6px -2px rgba(0,0,0, 0.50);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Montserrat', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Montserrat', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Montserrat', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
